@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');


section{
    padding: 50px 0;
}
/*section:nth-child(even){*/
/*    background-color: #111;*/
/*}*/

section:nth-child(odd)
{
    background-color: #000;
}


header .navbar
{
    /* background-color: rgba(0,0,0,0.3)  !important; */
    padding: 0;
    background-color: rgba(0,0,0,1) !important;
}

.navbar .navbar-brand
{
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;

}

body{
    /* background-color: #272c2f; */
    background-color: #000;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    line-height: 1.4;
}


/* header nav::before {
    content: '';
    position: absolute;
    background: green;
    height: 100%;
    display: block;
    width: 100px;
    z-index: 1;
    left: 0;
} */

header .logo__container {
    display: flex;
    position: relative;
    z-index: 3;
}

header .logo__container .badge {
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bolder;
    position: relative;
    padding: 0 15px;
    background: green;
}


header .logo__container .badge svg
{
    margin: 0 5px;
    font-size: 21px;
}

header .logo__container .badge::before {
content: '';
z-index: 4;
right: -18px;
left: auto;
position: absolute;
width: 0;
height: 0;
border-left: 10px solid green;
border-bottom: 10px solid transparent;
border-top: 10px solid transparent;
border-right: 10px solid transparent;
}

header .logo__container .badge svg:last-of-type {
color:#fff;;
}


header .logo__container .navbar-brand {
margin-left: 30px;
font-size: 1.5em;
}

header .header__text
{
font-size: 12px;
line-height : 1.2;
color:red;
margin: 0;
font-weight: bold;
text-transform: uppercase;
position: relative;
font-family: 'Open Sans', sans-serif;
padding: 10px 0;
}

header .header__text::before {
width: 20px;
height: 20px;
border-radius: 100%;
background-color:red;
position: absolute;
left: -20px;
}

/*  banner main section  */

.featured__video
{
    position: relative;
    height: calc(100vh);
    display: flex;
    flex-wrap:wrap;
    flex-direction: row-reverse;
    padding: 0;
}

.featured__video:before
{
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 16;
    position:absolute;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(33,33,33,0.1) 100%, rgb(239 34 34) 100%);
}

.featured__video:after
{
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 17;
    position: absolute;
    /*background: rgb(0,0,0);*/
    /*background: linear-gradient(90deg, rgba(33,33,33,0.2) 0%, rgb(0 0 0) 100%, rgb(0 0 0) 10%);*/
}

.featured__video .video__wrapper
{
    z-index: 14;
    top: 0;
    bottom: 0;
    flex: 1;
    position: absolute;
    display: block;
    width: 100%;
    right: 15px;
    left: 15px;
}

.featured__video .video__wrapper .embed-responsive
{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;;
}

.featured__video .video__wrapper video
{
    object-fit: fill;
}

.vw__shade
{
    background-color: rgba(0,0,0, 1);
    box-shadow: inset 0  0 100px #000;
    position: absolute;
    z-index: 11;
}

.vw__shade--left
{
    left: 0;
    width: 13%;
    height: 100%;
}

.featured__content
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 600px;
    font-size: 1.2em;
    text-shadow: 0 0 3px #111;
    position: absolute;
    z-index: 18;
    padding: 0;
    left: 50px;
}

.featured__content h1 {
    text-transform: uppercase;
    font-weight: bold;
    /*font-size: 1.2em;*/
    margin-bottom: 0.5em;
    line-height: 1.4;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 0 0 10px #000;
}

/*  video list section  */

.video__list
{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
    padding: 0;
}

.video__list ul
{
    list-style: none;
    padding: 0;
}

.video__list > li
{
    background-color: #090909;
}


.video__list .vw__thumbnail
{
    max-height: 140px;
    overflow: hidden;
    position: relative;
}

.video__list .vw__thumbnail video
{
    width: 100%;
}

.video__list .video__wrapper .vw__duration
{
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: rgba(0,0,0,0.7);
    color: #fff;
    font-weight: bold;
    padding: 8px;;
    border-radius: 5px;
    font-size:12px;;
}

.video__list .video__wrapper .vw__content
{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.video__list .video__wrapper .vw__title__info
{
    /* display: flex;
    align-items: center;
    margin-bottom: 10px; */
}

.video__list .video__wrapper .vw__profile
{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    border: 1px solid #333;
    background-color:#333;
    margin-right: 10px;
}

.video__list .video__wrapper .vw__title
{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
    font-family: 'Open Sans', sans-serif;
}

.video__list .video__wrapper .vw__details > ul
{
    display:flex;
    align-items: center;
    grid-gap: 15px;
    font-size: 12px;
}

.video__list .video__wrapper .vw__details > ul > li > svg
{
    margin-right: 5px;
    font-size: 1em;;
}

.vw__tags
{
    overflow: hidden;
    padding: 0;
    font-size: 12px;
}

.vw__tags a
{
    background: #222;
    border-radius: 3px 0 0 3px;
    color: #fff !important;
    display: inline-block !important;
    height: 26px;
    line-height: 26px;
    padding: 0 30px 0 10px;
    position: relative;
    margin: 0 3px 3px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
}

.vw__tags > a::before{
    background: #333;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    right: 13px;
    position: absolute;
    width: 6px;
    top: 10px;
}

.vw__tags > a::after
{
    background-color: #111;
    border-bottom: 13px solid transparent;
    border-left: 10px solid #222;
    border-top: 13px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
}


.category__wrapper
{
    display: flex;
    align-items: center;
    padding: 0 0 15px 0;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.category__wrapper > svg{
    margin-right: 10px;
}


/* pagination for video list  */

.page-link
{
    background-color: transparent;
    border-color: #222;
    color: #333;
}


.page-item.disabled .page-link
{
    border-color: #222;
    background-color: #222;
    color:#666;
}

.page-link:hover{
    background: #333;
    color: #777;
    border-color: #222;
}

.fv__inner__content
{
    position: relative;
}


/*  video__categories  */

.video__categories__content--scroller
{
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

.video__categories__content--scroller > div
{
    margin-bottom: 20px;
}


.video__categories
{
    margin-top: 50px;
}

.video__categories .list-group-item
{
    background-color: transparent;
    position: relative;
    padding: 0.75rem 1.25rem;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 30px !important;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    color: rgb(168, 168, 168);
}

.video__categories .list-group-item svg
{
    margin-right: 18px;
    //color: rgb(255, 222, 43);
    color: green;
}

.video__categories .list-group-item.active
{
    background-color: #151515;
    border-color: #111;
}

.video__categories .vc__title
{
    display: flex;
    align-items: center;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    opacity: 0.8;
}

.video__categories .vc__title svg
{
    margin-right: 10px;
    font-size: 21px;
    color: rgb(255, 222, 43);
}

.video__categories .vw__content
{
    display: flex;
    /* align-items: center; */
    list-style: none;
    grid-template-rows: 1fr;
    grid-template-columns: auto;
    margin: 0 -5px;
    padding: 0 15px 0 0;
}

.video__categories .vw__content > li
{
    flex:1;
    background: #111;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    margin: 5px;
}

.video__categories .vw__content > li:nth-child(1){
    background-color: transparent;
    flex: 0 0 auto;
    padding: 0;
}

.video__categories .vw__content > li:nth-child(1) svg,
.video__categories .vw__content .vw__details__uploaded svg
{
    margin-right: 10px;
    color: green;
}





/* custom scrollbar */

.video__categories__content--scroller::-webkit-scrollbar {
    width: 0.5em;
}

.video__categories__content--scroller::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.7);
}

.video__categories__content--scroller::-webkit-scrollbar-thumb {
    background-color: #111;
    outline: 1px solid #222;
}



/* footer */

footer
{
    background-color: #010101;
    /*font-family: 'Open Sans', sans-serif;*/
    padding: 50px 0 10px 0;
    border-top: 1px solid #090909;
}

footer .nav-link
{
    color: green;
}

footer .nav-link:hover
{
    color: #72f572;
}

footer .social__links
{
    display: flex;
    align-items: center;
}

footer .logo
{
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 3em;
    color: #fff;
    margin-bottom: 5px;
    text-decoration: none;
    display: block;
}

footer .links a {
    color:#fff;
    text-transform: uppercase;
}

footer .footer__links
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}

footer .footer__links .newsletter input.form-control
{
    background: transparent;
    /* border: 0; */
    /* border-bottom: 1px solid #222; */
    border-radius: 0;
    /* padding-left: 0; */
    text-transform: uppercase;
    border: 1px solid;
}


footer .footer__extra__links {
    margin-top: 20px;
    background: white;
    display: flex;
    align-items: center;
    padding: 20px 20px 15px 20px;
    color: #0a0e44;
    justify-content: space-between;
}

footer .footer__extra__links .nav-link
{
    color: #0a0e44;
}

.footer__links .btn-outline-light
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-color: #222;
    color: #444;
    padding: 8px 20px;
    border-radius: 0;
    font-weight: bold;
    text-transform: uppercase;
}

.footer__links .btn-outline-light svg
{
    margin-left: 20px;
}

/* responsive  */

@media(max-width: 767px)
{

    .featured__video .video__wrapper .embed-responsive
    {
        position: absolute;
        height: 100%;
    }

    body
    {
        overflow-x: hidden;
    }

    header .container {
        max-width: 100%;
        width:100%;
    }

    .featured__video:before
    {
        display: none;
    }


    .video__categories__content--scroller > div
    {
        padding-top: 10px;
    }

    /* banner section */

    .featured__video
    {
        height: 55vh;
    }

    .featured__content
    {
        background-color: #111111;
        order: 2;
        position: unset;
        width: auto;
        padding: 15px;
        height: auto;
    }
    .featured__content h1
    {
        font-size: 21px;
    }

    .featured__video .video__wrapper
    {
        left: 0;
        right: 0;
        flex: 1;
        position: relative;
    }

    .fv__inner__content
    {
        /*position: relative;
        display: flex;
        flex-direction: column-reverse;
        padding: 0;*/
        display: flex;
        flex-direction: column;
    }


    .video__categories__links
    {
        width: 100%;
        max-width: 100%;
        flex: 1 1 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        border-bottom: 1px solid #111;
        border-radius: 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 25px;
    }

    .video__categories .list-group-item{
        flex: 0 0 50%;
        font-size: 14px;
    }



    .video__categories__links .vw__content
    {
        padding: 0;
        margin-bottom: 20px;
    }

    .video__categories .vw__content
    {
        flex-wrap: wrap;
        margin-bottom: 20px;
    }


    .video__categories .vw__content > li
    {
        flex:  1 1 100% !important;
    }


    .video__categories.video__categories .col-9
    {
        max-width: 100%;
        flex: 1 1 100%;
    }

    .video__categories__content--scroller{
        padding-top: 30px;
    }

/*    footer */

    footer {
        padding: 10px 0 10px 0;
    }

    footer .nav li.nav-item
    {
        flex: 1 1 50%;
    }

    footer .nav li.nav-item > a
    {
        background: #111;
        margin: 5px;
        text-align: center;
        justify-content: center;
        display: flex;
        align-items: center;
        color: white;
        text-transform: uppercase;
        font-weight: normal;
    }


    footer .footer__links{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        flex-direction: column;
        align-items: flex-start;
    }

    footer .social__links {
        display: flex;
        align-items: center;
        flex: 1;
        width: 100%;
        flex-direction: column;
        margin-bottom: 10px;
    }

    footer .social__links span
    {
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    footer .social__links .nav
    {
        width: 100%;
    }

    footer .social__links + .btn
    {
        width: 100%;
    }

    footer .footer__extra__links .copyright__text {
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }

    footer .footer__extra__links {
        margin-top: 30px;
        background: transparent;
        display: flex;
        color: #0a0e44;
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
    }

}


