@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');


section{
    padding: 50px 0;
}
section:nth-child(even){
    background-color: #111;
}

section:nth-child(odd)
{
    background-color: #000;
}


header .navbar
{
    /* background-color: rgba(0,0,0,0.3)  !important; */
    padding: 0;
    background-color: rgba(0,0,0,1) !important;
}

.navbar .navbar-brand
{
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;

}

body{
    /* background-color: #272c2f; */
    background-color: #000;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    line-height: 1.4;
}


/* header nav::before {
    content: '';
    position: absolute;
    background: green;
    height: 100%;
    display: block;
    width: 100px;
    z-index: 1;
    left: 0;
} */

header .logo__container {
    display: flex;
    position: relative;
    z-index: 3;
}

header .logo__container .badge {
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width:75px;
    font-weight: bolder;
    position: relative;
    padding: 0 25px;
    background: green;
    border-radius: 0;
}

header .logo__container .badge::before {
    content: '';
    z-index: 4;
    right: -20px;
    left: auto;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid green;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
}

header .logo__container .badge svg:last-of-type { 
    color:#fff;;
}


header .logo__container .navbar-brand {
    margin-left: 30px;
    font-size: 1.5em;
}

header .header__text
{
    font-size: 12px;
    line-height : 1.2;
    color:red;
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    padding: 10px 0;
}

header .header__text::before {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color:red;
    position: absolute;
    left: -20px;
}

/*  banner main section  */

.featured__video
{
    position: relative;
    height: calc(100vh);
    display: flex;
    flex-wrap:wrap;
    flex-direction: row-reverse;
    padding: 0;
}

.featured__video:before
{
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 16;
    position:absolute;
    background: rgb(0,0,0);
    /* background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.3) 100%, rgba(0,0,0,1) 100%)     */
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(33,33,33,0.1) 100%, rgb(239 34 34) 100%);
}

.featured__video .video__wrapper
{
    right: 0;
    z-index: 11;
    top: 0;
    bottom: 0;
    flex: 1;
}

.featured__video .video__wrapper .embed-responsive
{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;;
}

.featured__video .video__wrapper video
{
    object-fit: fill;
}

.vw__shade
{
    background-color: rgba(0,0,0, 1);
    box-shadow: inset 0  0 100px #000;
    position: absolute;
    z-index: 11;
}

.vw__shade--left
{
    left: 0;
    width: 13%;
    height: 100%;
}

.featured__content
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    top: 0;
    bottom: 0;
    height: 100%;;
    left: 0;
    z-index: 15;;
    width: 400px;
    font-size: 1.2em;
    text-shadow: 0 0 3px #111;
    position: absolute;
    z-index: 16;;
    left: 50px;
}

.featured__content h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 0.5em;
    line-height: 1.4;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 0 0 10px #000;
}

/*  video list section  */

.video__list
{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
    padding: 0;
}

.video__list ul
{
    list-style: none;
    padding: 0;
}

.video__list > li
{
    background-color: #212121;
}


.video__list .vw__thumbnail
{
    max-height: 140px;
    overflow: hidden;
    position: relative;
}

.video__list .vw__thumbnail video
{
    width: 100%;
}

.video__list .video__wrapper .vw__duration
{
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: rgba(0,0,0,0.7);
    color: #fff;
    font-weight: bold;
    padding: 8px;;
    border-radius: 5px;
    font-size:12px;;
}

.video__list .video__wrapper .vw__content
{
    padding: 10px;
    display: flex;
}

.video__list .video__wrapper .vw__title__info
{
    /* display: flex;
    align-items: center;
    margin-bottom: 10px; */
}

.video__list .video__wrapper .vw__profile
{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    border: 1px solid #333;
    background-color:#333;
    margin-right: 10px;
}

.video__list .video__wrapper .vw__title
{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
    font-family: 'Open Sans', sans-serif;
}

.video__list .video__wrapper .vw__details > ul
{
    display:flex;
    align-items: center;
    grid-gap: 15px;
    font-size: 12px;
}

.video__list .video__wrapper .vw__details > ul > li > svg
{
    margin-right: 5x;
    font-size: 1em;;
}

.vw__tags
{
    overflow: hidden;
    padding: 0;
    font-size: 12px;
    margin-top: 10px;
}

.vw__tags a
{
    background: green;
    border-radius: 3px 0 0 3px;
    color: #fff !important;
    display: inline-block !important;
    height: 26px;
    line-height: 26px;
    padding: 0 30px 0 10px;
    position: relative;
    margin: 0 3px 3px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
}

.vw__tags > a::before{
    background: #068e06;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    right: 13px;
    position: absolute;
    width: 6px;
    top: 10px;
}

.vw__tags > a::after
{
    background-color:#1f2326;
    border-bottom: 13px solid transparent;
    border-left: 10px solid green;
    border-top: 13px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
}


.category__wrapper
{
    display: flex;
    align-items: center;
    padding: 0 0 15px 0;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.category__wrapper > svg{
    margin-right: 10px;
}


/* pagination for video list  */

.page-link
{
    background-color: transparent;
    border-color: #222;
    color: #333;
}


.page-item.disabled .page-link
{
    border-color: #222;
    background-color: #222;
    color:#666;
}

.page-link:hover{
    background: #333;
    color: #777;
    border-color: #222;
}